:root{
    --dark:#114232;
    --green:#87A922;
    --cream:#F7F6BB;
    --yellow:#FCDC2A;
    }

header {
     position: absolute;
     top: 0%;
     right: 0%; 
     color: var(--cream);
     text-align: center;
     width: 100%; 
     background-color: var(--dark) ;
     font-weight: 500;
     font-style: normal;

}

.poiret-one-regular {
    /* font-family: "", sans-serif; */
    font-weight: 400;
    font-style: normal;
  }
  

.a:hover{
    color:var(--yellow);
    text-decoration: none;
}

h2{
    color: var(--dark);
}

body {
    margin: 60px;
    padding: 40px;
    background-color: var(--cream);
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    font-size: larger;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--cream);
}

.boxy {
    background: var(--darkcream);
    box-shadow: 5px 5px 10px grey;
    height: 250px;
}

#asdf {
    color: var(--dark);
    float: right; font-size:x-large; 
    text-align:center;
    text-shadow: 20%; 
    text-decoration: wavy;
    font-weight:20px ;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer{
    background-color: var(--dark);
    font-size:large ;
    color: var(--cream); 
    position: fixed; 
    bottom: 0%; 
    left:0%; 
    right: 0%;
}

.about{
    background-color:var(--dark); 
    margin: 40px; 
    padding: 60px;
    color: var(--cream);
}

#asd{
    padding: 80px;
    margin: 50px;
    background-color: var(--dark);
    color: var(--cream);
    font-size: larger;
}

.button {
    border-radius: 4px;
    background-color:var(--dark);
    border: none;
    color: var(--cream);
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.1s;
}
  
  .button:hover span {
    padding-right: 25px;
}
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
}

  .container{
    margin-top: 5%;
}

  .mam{
    height:250px;
}


